/* CSS styling for form */
.contact {
    padding: 50px 0;
    text-align: center;
    background-color: #EAEDED;
}

.contact p {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: inline-block;
}

.contact form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    resize: vertical;
}

.contact button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #2980B9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.contact button[type="submit"]:hover {
    background-color: #2573A7;
}