.header {
    background-color: black;
    color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.header .logo-container {
    display: flex;
    align-items: center;
    padding: 5px 0px 5px;
}

.header .logo-container .logo {
    max-width: 40px;
    height: auto;
}

.header .logo-container .logo-text {
    margin-left: 10px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.header nav {
    display: inline-block;
    flex: 1;
    text-align: right;
}

.header nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.header nav a:hover {
    background-color: gray;
}